
$primary: #F4F3EE;

.container {
    max-width: none !important;
    width: 90% !important;
    padding: 0 !important;
    margin: 0 auto;
}
.navbar {
    padding: 0.5rem 0 !important;
}
.navbar-expand-md .navbar-collapse {
    
        justify-content: right;
    
}